{{log this}}
  <div class="row m-0 card-body">
      <div class="col-1 text-truncate"><p>{{id}}</p></div>
      <div class="col-9 text-truncate"><p>{{name}}</p></div>
       <div class="col-2 text-center"><p>?</p></div>
  </div>
