{{log this}}

<table>
  <tr>
    <th>ID</th>
    <th>Item Name</th>
    <th>Item Description</th>
    
  </tr>
  <tr>
    <td>{{id}}</td>
    <td>{{item_name}}</td>
    <td>{{item_description}}</td>
    
  </tr>  
</table>