<div class="row m-0 ps-5 py-3 fw-light"><p class="fs-3 m-0 p-0">Employee Usage Statistics</p></div>

<div id="emp-statistics" class="display-chart"> 
  <canvas id="emp-txn-chart" ></canvas>
</div>

<script src="/js/chartDisplay.js"></script>

<script>
 const autocolors = window['chartjs-plugin-autocolors'];
  displayChart('emp-txn-chart',autocolors,"{{empNames}}", "{{txncount}}");  
</script>