<div class="row m-0 ps-5 py-3 fw-light"><p class="fs-3 m-0 p-0">Item Category Statistics</p></div>
<div id="item-statistics" class="display-chart">
  <canvas id="item-category-chart" ></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx2 = document.getElementById('item-category-chart').getContext("2d");
var labelData2 = "{{categoryNames}}";
const xValues2 = labelData2.split(',');

var txncount2 = "{{itemcount}}";
const txnValues2 = txncount2.split(',');
const yValues2 = txnValues2.map(item => parseInt(item));

const autocolors = window['chartjs-plugin-autocolors'];
Chart.register(autocolors);

    new Chart(ctx2, {
       plugins: [
    autocolors
  ],
      type: 'pie',
      data: {
        visible: true, 
        labels: xValues2,
        datasets: [
          {
            label: 'Number of Items',
            data: yValues2,
            //borderWidth: 1,
           //borderColor: '#36A2EB', // Border color
           // backgroundColor: '#9BD0F5', // Background color
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            max: 15,
            min: 0,
            ticks: {
                stepSize: 1
            }
          },
        },
        plugins : {
          autocolors :{
            mode : 'data'
          }
        },
      },
    });
   
</script>