 <a href="/api/admin/viewsummary">View Summary </a>
<table>
    <h4>Borrowed Items</h4>
  <tr>
    <th>ID</th>
    <th>Borrow Date</th>
    <th>Return Date</th>
    <th>Borrowed By  </th>
    <th>Item Borrowed </th>
  </tr>
  
{{#each transactionData}}
{{> transaction-details}}
{{/each}}
    
</table>