
</table>
<h4>All Inventory Items</h4>
<table>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Item Name</th>
    <th>Description</th>  
    <th>Availability</th>  
  </tr>
  
  
{{#each itemData}}
{{> item-details}}
{{/each}}
    
 
</table>