<div class="row m-0 ps-5 py-3 fw-light"><p class="fs-3 m-0 p-0">Employee Usage Statistics</p></div>
<div id="emp-statistics" class="display-chart">
  <canvas id="emp-txn-chart" ></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx = document.getElementById('emp-txn-chart').getContext("2d");
var labelData = "{{empNames}}";
const xValues = labelData.split(',');
var txncount = "{{txncount}}";
const txnValues = txncount.split(',');
const yValues = txnValues.map(item => parseInt(item));
const autocolors = window['chartjs-plugin-autocolors'];
Chart.register(autocolors);

    new Chart(ctx, {
       plugins: [
    autocolors
  ],
      type: 'bar',
      data: {
        visible: true, 
        labels: xValues,
        datasets: [
          {
            label: 'Number of Transactions',
            data: yValues,
           borderWidth: 1,
           borderColor: '#8d7cbb', // Border color
           backgroundColor: '#8d7cbb', // Background color
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            max: 30,
            //min: 0,
            ticks: {
                stepSize: 1
            }
          },
        },
        plugins : {
          autocolors :{
            mode : 'data'
          }
        },
      },
     
    });



   
</script>