<div id="format">
        <div id="header">
            <section id="header-main">
                <p>Inventory<br />Management<br /><span>System</span></p>
            </section>
        </div>
        <div id="top">
            <section id="input-login">
                <label for="username">Username/ Email</label>
                <input type="text" id="username" name="username" placeholder="Insert username or email"
                    autocomplete="username" required />
                <div id="error-message-username"></div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Insert password"
                    autocomplete="current-password" required />
                <div id="error-message-password"></div>
                <button type="button" id="submit" name="submit" value="">Login<span id="shevron"> >>></span></button>
                <p id="link"><a href="http://localhost:5500/index.html">client </a>- OR -<a
                        href="http://localhost:5500/admin-login.html"> admin</a></p>
            </section>
        </div>
        <footer id="bottom">
            <p>InventoryManagementSystem-<span>IMS</span></p>
            <p>Copyright&copy;
                <script
                    type="text/javascript"> var date = new Date(); var year = date.getFullYear(); document.write(year);</script>
                ims-project-group. All rights reserved.
            </p>
        </footer>
    </div>

<script src="/js/login.js"></script>
