<div class="background"></div>
<div class="login-form log-form p-3 border shadow rounded-3">
        <div >
            <section>
                <h4>Inventory<br />Management<br /><span>System</span></h4>
            </section>
        </div>
        <div class="row justify-content-center">
           <form class="col-6">
            
           <div class="mb-1 mt-2">
           <label for="email-login" class="form-label m-1">Username/ Email</label>
           <input type="email" class="border-1 form-control" id="email-login" aria-describedby="emailHelp">
           </div>
           
           <div class="mb-4">
             <label for="password-login" class="form-label m-1">Password</label>
            <input type="password" class="border-1 form-control" id="password-login">
          </div>

          <div class="d-grid mb-3">
              <button class="btn btn-primary shadow border-0 " type="submit" id="login-btn">Login >>></button>
         </div>

       
        <a href="/signup"  id="signup">Sign Up instead >>></a>

        </form>
        </div>
       
       <footer class="text-center mt-5">
            <h6>InventoryManagementSystem -<span>IMS</span></h6>
            <p>Copyright&copy;
                <script
                    type="text/javascript"> var date = new Date(); var year = date.getFullYear(); document.write(year);</script>
                ims-project-group. All rights reserved.
            </p>
        </footer>
    </div>
</div>
<script src="/js/login.js"></script>

