<h2>Sign Up</h2>

<form class="form sign-form">
  <div class="form-group">
    <label for="firstname-signup">First name:</label>
    <input class="form-input" type="text" id="firstname-signup" />
  </div>
  <div class="form-group">
    <label for="lastname-signup">Last name:</label>
    <input class="form-input" type="text" id="lastname-signup" />
  </div>
<div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <label for="isadmin-signup">Assign admin role:</label>    
     
    <select name="isadmin" id="isadmin-signup">  
    <option value="true">Yes</option>
    <option value="false">No</option>
 
</select>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
  <a href="/login" id="login">Login instead </a>
</form>

<script src="/js/signup.js"></script>
