:root {
  --primary: #514290;
  --secondary: #6e5bc2;
  --tertiary: #7e6cca;
  --quatrinary: #DFE1FB;
  --medium: #f7f7f7;
  --light: #ffffff;
  --dark: #22283c;
  --available: #d0ebd1;
  --unavailable: #faccca;
  --electron-purple: #555BCE;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--medium);
}

a {
  color: var(--light);
  text-decoration: none;
}

/* -------------------top nav stripe-------------------------- */
nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--light);
}

nav a {
  padding: 10px 5px;
  text-align: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0, 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 15px;
  color: var(--light);
}

.btn-no-style:hover {
  color: var(--light);
}

nav span {
  width: 45px;
  padding-top: 10px;
  margin-left: 20px;
  text-align: center;
  background-color: var(--quatrinary);
  color: var(--electron-purple);
  font-weight: bold;
}

/* -----------------aside navigation bar------------------------- */
aside {
  /* min-height: 100vh; */
  flex: 0;
  background-color: var(--secondary);
  text-align: left;
  color: var(--light);
}

aside .tab {
  margin: 0;
  padding: 12.5px 60px 12.5px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  line-height: 75%;
}

aside .tab a {
  margin: 15px;
  color: var(--light);
  text-decoration: none;
}

aside .tab:hover {
  background-color: var(--tertiary);
}

/* ------------------the login/ signup form interface------------------------ */
.background {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eaeefa;
  position: fixed;
  top: 0;
  left: 0;
}

.log-form {
  width: 650px;
  background-color: var(--light);
  margin: auto;
  margin-top: 50px;
  font-weight: bold;
  position: relative;
  right: 8vw;
}

.log-form span {
  color: #5553db;
  font-weight: bolder;
}

.log-form button {
  background-color: #625fee;
  font-weight: 700;
}

.log-form a {
  color: black;
  font-size: 12px;
  font-weight: 200;
}

.log-form a:hover {
  font-weight: 300;
}

.log-form footer h6 {
  font-size: 18px;
  font-weight: 600;
}

.log-form footer p {
  font-size: 10.25px;
}

/* -----------------the charts in handlebars pages--------------------------- */
.chart .row {
  border-bottom: 0.5px solid lightsteelblue;
  height: 54px;
}

.chart .row:hover {
  background-color: var(--medium);
}

.chart p {
  font-size: 15px;
  color: slategray;
}

.chart span {
  font-size: 12.5px;
}

.chart .card-header p {
  font-weight: bold;
}

.chart .card-header label {
  font-weight: bold;
  font-size: 15px;
  color: slategray;
}

.pill-available {
  background-color: var(--available);
}

.pill-unavailable {
  background-color: var(--unavailable);
}

.add-btn {
  background-color: var(--secondary);
}

/* --------------------chart js disgrams-------------------------- */
.display-chart {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

#item-statistics {
  height: 80vh;
  width: 100vw;
}

#emp-statistics {
  height: 60vh;
  width: 80vw;
}